
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="indexSection">

<p id="welcomeMessage">Welcome to Poker Night!</p>

    <div id="indexDivs">
        <div class="indexPageDiv">
            <p class="welcomepara">Sign Up and Play Now!</p>
            <a class="welcomeAnchor" href="~/User/Register"> Click Here!</a>
        </div>

        <div class="indexPageDiv">
            <p class="welcomepara">Already a Member? Log In and Play!</p>
            <a class="welcomeAnchor" href="~/User/Login"> Click Here!</a>
        </div>

        <div class="indexPageDiv">
            <p class="welcomepara">Don't Know How To Play?</p>
            <a class="welcomeAnchor" href="~/Game/Rules"> Click Here To See The Rules!</a>
        </div>
        <div class="indexPageDiv">
            <p class="welcomepara">Want To See The Leaderboard?</p>
            <a class="welcomeAnchor" href="~/User/TopScores"> Click Here!</a>
        </div>
    </div>

    <img id="jackHead" src="~/Content/img/blackjack-303154_960_720.png" /> 

</section>