
@{
    ViewBag.Title = "LoggedInLanding";
}

<section id="indexSection">

    <p id="welcomeMessage">Welcome to Poker Night!</p>

    <div id="indexDivs">
        <div class="indexPageDiv">
            <p>Want to create a new table?</p>
            <a class="welcomeAnchor" href="~/Table/CreateTable"> Click Here!</a>
        </div>

        <div class="indexPageDiv">
            <p>Looking for a game to join?</p>
            <a class="welcomeAnchor" href="~/Table/TableSearch"> Click Here!</a>
        </div>

        <div class="indexPageDiv">
            <p>Don't Know How To Play?</p>
            <a class="welcomeAnchor" href="~/Game/Rules"> Click Here To See The Rules!</a>
        </div>
        <div class="indexPageDiv">
            <p>Want To See The Leaderboard?</p>
            <a class="welcomeAnchor" href="~/User/TopScores"> Click Here!</a>
        </div>
    </div>

    <img id="jackHead" src="~/Content/img/blackjack-303154_960_720.png" />

</section>