.topScoresHeading{
    font-size: 2.5em;
    color:gold;
    text-shadow: -3px 3px 2px black; 
}

#leaderTable {
    position: relative;
    left: 25%;
    text-align:left;
    font-size: 2em;
    color:gainsboro;
    width: 50%;
}
#leaderTable tr:nth-child(2) {
    color:  #ff8533;
    text-shadow: -3px 3px 2px black;
}
#leaderBoardSection {
    text-align:center;
}