@model Capstone.Web.Models.UserModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div id="allInputs">
        <h2>Login</h2>

        @using (Html.BeginForm("Login", "User", FormMethod.Post))
        {
            <div class="validationError">
                @{
                    if (Model.LoginFail)
                    {
                        <p>Username or password is invalid.</p>
                    }
                }
            </div>

            <div class="inputBox">
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { @class = "inputField", placeHolder = "Username" })
            </div>
            <div class="inputBox">
                @Html.LabelFor(m => m.LoginPassword, "Password")
                @Html.PasswordFor(m => m.LoginPassword, new { @class = "inputField", placeHolder = "Password" })
            </div>
            <div id="inputButton">
                <button>Login</button>
            </div>
        }
    </div>
</section>