
@{
    ViewBag.Title = "MoneyReset";
}

<section>
    <div id="allInputs">
        <h2>MoneyReset</h2>

        <p>You have run out of money, so we reset you're funds to $1000.</p>
        <br/>
        <p>Good Luck!</p>

        <a href="~/Home/LoggedInLanding">Return to Home Page</a>
    </div>
</section>