
@{
    ViewBag.Title = "MoneyReset";
}

<section>
    <div id="allInputs">
        <div id="moneyReset">
            <h2>Oops!</h2>

            <p>You have run out of money, so we reset you're funds to $1000.</p>
            <br />
            <p>Good Luck!</p>
            <br/>
            <a href="~/Home/LoggedInLanding">Return to Home Page</a>
            <br/>
        </div>
    </div>
</section>