@model Dictionary<String, int>
@{
    ViewBag.Title = "TopScores";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}
<section id="leaderBoardSection">
    
    <h1 class="topScoresHeading">TOP PLAYERS</h1>

    <table id="leaderTable">
        <tr>
            <td>Rank</td>
            <td>Name</td>
            <td>Current Chips</td>
        </tr>

        @foreach (var kvp in Model)
        {
            counter++;
            <tr>
                <td>@counter)</td>
                <td>@kvp.Key</td>
                <td>@kvp.Value.ToString("C")</td>
            </tr>
        }
    </table>

</section>


