
@{
    ViewBag.Title = "LoggedInLanding";
}

<section id="indexSection">

    <p id="welcomeMessage"><span id="f1">W</span><span id="f2">e</span><span id="f3">l</span ><span id="f4">c</span><span id="f5">o</span><span id="f6">m</span><span id="f7">e</span> <span id="f8">t</span><span id="f9">o</span> <span id="f10">P</span><span id="f11">o</span><span id="f12">k</span><span id="f13">e</span><span id="f14">r</span> <span id="f15">N</span><span id="f16">i</span><span id="f17">g</span><span id="f18">h</span><span id="f19">t</span><span id="f20">!</span></p>

    <div id="indexDivs">
        <div class="funkydiv2">
            <p>Want to create a new table?</p>
            <a class="welcomeAnchor" href="~/Table/CreateTable"> Click Here!</a>
        </div>

        <div class="funkydiv1">
            <p>Looking for a game to join?</p>
            <a class="welcomeAnchor" href="~/Table/TableSearch"> Click Here!</a>
        </div>

        <div class="funkydiv3">
            <p>Don't Know How To Play?</p>
            <a class="welcomeAnchor" href="~/Game/Rules"> Click Here To See The Rules!</a>
        </div>
        <div class="funkydiv4">
            <p>Want To See The Leaderboard?</p>
            <a class="welcomeAnchor" href="~/User/TopScores"> Click Here!</a>
        </div>
    </div>

    <img id="jackHead" src="~/Content/img/funkyjack.png" />

</section>