
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/Content/StyleSheet.css" />
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        var serviceUrl = "@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/")";
    </script>
    <title>Poker Night</title>
</head>
<body>
    <div id ="background"><img src="~/Content/img/free-vector-red-poker-background.jpg"/></div>
    

    <nav class="navbar navbar-default">
            <div class="container-fluid">
                @Html.Action("GetAuthenticatedUser", "User")
            </div>
        </nav>
    
    <div> 
        
        @RenderBody()
    </div>
</body>
</html>
