
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/StyleSheet.css" />
    <title>Layout</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            @Html.Action("GetAuthenticatedUser", "User")
        </div>
    </nav>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
