@model Capstone.Web.Models.Table
@{
    ViewBag.Title = "GameDisplay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="/Scripts/HandSetupJavaScript.js"></script>

<div id="gameContainer">
    @Html.Partial("HandSetup", Model)
</div>

