
@{
    ViewBag.Title = "Rules";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Rules</h2>

<h1>Texas Hold'Em Rules</h1>

<p>When playing Texas Hold'Em poker, every player is dealt two cards face down – these are called your 'hole cards'. 
    Then there is a round of betting where you can Check, Bet or Fold. This stage of the game is known as pre-flop and what you should do is dependent on those hole cards, or starting hand. 
    When all the betting has finished three shared cards are dealt face up in the middle of the table. This is called the flop. 
    After this there is another round of betting, then a fourth shared card – called the turn – is dealt. 
    There is another round of betting then a final shared card – called the river – and a final round of betting.
    Your best Texas Holdem hands will be made by using your hole cards and the five cards in the middle to make the best possible five card poker hand, as seen below. </p>

<p>There are two ways a hand can end.
    One is when the players in a hand turn over their hole cards and the player with the best hand wins. This is known as a showdown.
    The other is that someone will bet enough that everyone else folds. 
    This is how most hands end in Texas Hold'em – you don't always need the best hand to win!</p>